<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ERL's Restaurant</title>

    <!-- External CSS -->
    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/landing-page.css" type="text/css" /> -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <scrip type="text/javascript" src="/scripts/app.js"></script> -->

        <!-- Google Font - Lobster -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap"
        rel="stylesheet"
        />

        <!-- For quantity button -->
        <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- App css -->
    <link rel="stylesheet" href="styles/landing-page.css" type="text/css" />
    <link rel="stylesheet" href="styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="styles/past-orders.css" type="text/css">
    <link rel="stylesheet" href="styles/cart.css" type="text/css">
    <link rel="stylesheet" href="styles/quantity-button.css" />

    <!-- JavaScript -->
    <script src="./scripts/DOMobjects.js" defer></script>
    <script src="./scripts/databaseObjects.js" defer></script>
    <script src="./scripts/functions.js" defer></script>
    <script src="./scripts/index.js" defer></script>
    <script src="./scripts/script.js"></script>
  </head>
  <body>
    <header>
      <!-- <nav>
      </nav> -->
      <div class='button-container'>
        <div class="past-orders">
          <input type="button" value="PAST ORDER" style="background-color: transparent;border:none">
        </div>
        <div class="display-menu">
          <input type="button" value="MENU" style="background-color: transparent;border:none">
        </div>
      </div>
      <!-- <h1>ERLs</h1> -->
      <img alt="logo" class="logo" src='../../docs/food-images/ERLs transparent.png'/>
    </header>
    <main>
      <div class="wrapper">
        <div class="menu">
          <div class="title">
            <h4><span style="font-family:'Times New Roman'">Italian Vietnamese Fusion</span></h4>
          </div>
          <div id="category-mains">MAINS:</div>
          </div onclick="menuFocusMains()">
        </div>
      </div>
  <div class="cart">
<h3>Your order:</h3>
<h3>ERL's</h3>
<article class ="cart-container">
  <!-- <div class="quantity buttons_added">
    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
  </div> -->
</article>
  <section>
  <div class="order-total">
  <h2 class="displayed-order-total">Order Total:</h2>
  <h2 class="order-total-display">$0</h2>
  </div>
  <button class="checkout-button" value="Checkout" type="submit">Checkout</button>
  </div>
</section>
    </main>
    <footer></footer>
  </body>
</html>
