.cart {
  display: flex;
  width: 35%;
  height: 80%;
  background-color: #424e6f;
  margin: 7% 1% 0 0;
  flex-direction: column;
  color: white;
  border: 1px solid rgb(11, 11, 11);
  cursor: pointer;
}

.cart > h2 {
  display: flex;
  border-bottom: 1px solid rgb(11, 11, 11);
  height: 5%;
  justify-content: center;
}

.cart h3 {
  display: flex;
  border-bottom: 1px solid rgb(11, 11, 11);
  height: 5%;
  padding-left: 1em;
  justify-content: center;
}

.cart-container {
height: 40%;
overflow-y: scroll;
margin-left: 1em;
margin-right: 1em;
}

.cart-container::-webkit-scrollbar {
  background: transparent;
}

.cart-container div {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 0.5em;
border-bottom: 1px dashed rgb(255, 255, 255);
}

.order-total {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  border-top: rgb(197, 182, 182);
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-bottom: 1px dashed rgb(255, 255, 255);
  line-height: 0;
  margin-left: 1em;
  margin-right: 1em;
}

.checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 2em;
  background: #3295e0;
  padding: 0.5em;
  border: 1px solid rgb(11, 11, 11);
  margin-left: 1em;
  margin-right: 1em;
}

.checkout-button:hover {
	background: #30ed30;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
