.cart {
  display: flex;
  width: 25%;
  height: 80%;
  background-color: #424e6f;
  margin: 7% 1% 0 0;
  flex-direction: column;
  color: white;
  border: 1px solid rgb(11, 11, 11);
  overflow: auto;
}

.cart > h2 {
  display: flex;
  border-bottom: 3px solid #465681;
  height: 5%;
  text-align: center;
  padding-left: 1em;
}

.cart h3 {
  display: flex;
  border-bottom: 3px solid #495780;
  height: 5%;
  padding-left: 1em;
}

.cart-container div {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
border-bottom: 1px dashed rgb(255, 255, 255);
}

.order-total {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  border-top: rgb(197, 182, 182);
  padding-left: 0.25em;
  padding-right: 0.25em;
}
