body {
  display: flex;
  height: 100vh;
  background-color: #5a5555;
  font-family: sans-serif;
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: #FB6100;
  border-bottom: 1px solid rgb(11, 11, 11);
  z-index: 3;
  flex-direction: row-reverse;
  padding-left: 1em;
  padding-right: 4em;
}

.logged-in {
  margin-right: 5em;
  margin-top: 4em;
}

.logo {
  width: 16em;
  display: flex;
  order: 2;
  margin-top: 1.5em;
}

header h1 {
  color: #EEE;
  font-size: 6.5vh;
  margin: 1% 0 0 55%;
}

header input:hover {
  color: #FFF;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url('../../docs/food-images/background-image.jpg');
}

.menu:-webkit-scrollbar:-webkit-scrollbar {
  background: transparent;
}
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  background: transparent;
}
