.wrapper {
  width: 120em;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  max-height: 6em;
  width: 100%;
}

.title h2 {
  margin: auto 0;
}

.tabs {
display: flex;
height: 3%;
width: 100%;
justify-content: center;
align-items: center;
gap: 1px;
}

.tabs button {
  /* background-color: #424e6f; */
  background-color: #FB6100;
  color: white;
  width: 15%;
  font-family:fantasy;
}

.tabs button:hover{
  background: #1a10ca;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.title h4 {
  text-transform: capitalize;
  font-size: 2.5em;
}
.title h4 span {
  display: flex;
  font-size: 1em;
  font-style: italic;
}

.menu {
  width: 54vw;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 9.25%;
  margin-left: 8%;
  /* background-color: #424e6f; */
  background-color: #72A101;
  border: 1px solid rgb(11, 11, 11);
  overflow-y: scroll;
  cursor: pointer;
  font-family:fantasy;
  scroll-behavior: smooth;
  border-radius: 1em;
}

.menu div {
  margin: 0 auto;
}

.menu-navbar {
  position: fixed;
  background-color: #95CF0E;
  width: 54vw;
  margin-right: 4em;
  border-radius: 1em;
  border-bottom: solid black 1px;
  border-right: solid black 1px;
}

.menu::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.menu-category {
  width: 90%;
}

.main  {
  margin-bottom: -100px;
}

.single-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(11, 11, 11);
}

.single-menu:hover img {
  border-radius: 0;
}
.single-menu img {
  max-width: 8em;
  border-radius: 50%;
  border: 1px solid rgb(11, 11, 11);
  transition: 0.5s;
}
.single-menu h4 {
  text-transform: capitalize;
  font-size: 22px;
  border-bottom: 1px dashed #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.single-menu h4 span {
  float: right;
  color: #ff7720;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-style: italic;
}

.button-container {
  order: 3;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  height: 75%;
  padding-right: 2em;
  margin-top: 7em;
}

.button-container input {
  font-size: 1em;
  font-weight: bold;
}

.button-container button {
  color: rgb(7, 7, 7) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3295e0;
  padding: 1em;
  border-radius: 1em;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  border: 1px solid rgb(11, 11, 11);
}

.button-container button:hover {
	background: #1a10ca;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.menu-content {
  order: 1;
  width: 40%;
  padding-left: 10px;
}

.image-container {
  order: 2;
  width: 30%;
  margin-left: 2em;
  padding: 20px;
}

#category.mains {
  width: 100%;
  font-size: large;
}

/* MENU BUTTONS ============================= */


/*


Mains
Soups
Sandwiches
Drinks
Desserts
Bubble Tea */
