html,
body {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #5a5555;
  font-family: sans-serif;
}

header {
  position: fixed;
  display: flex;
  height: 10%;
  width: 100%;
  background-color: #FB6100;
  border-bottom: solid #AAA 1px;
}

header h1 {
  color: #EEE;
  font-size: 6.5vh;
  margin: 1% 0 0 55%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  background-color: #72A101;
  width: 45%;
  height: 82%;
  margin: 7% 0 0 15%;
}

.orders-bar {
  display: flex;
  width: 15%;
  height: 82%;
  background-color: #424e6f;
  margin: 7% 1% 0 0;
  flex-direction: column;
}

.orders-bar > h2 {
  display: flex;
  border-bottom: 3px solid rgb(197, 182, 182);
  font-weight: bold;
  color: white;
  height: 5%;
  text-align: center;
  padding-left: 1em;
}

.orders-bar h3 {
  display: flex;
  border-bottom: 3px solid rgb(197, 182, 182);
  font-weight: bold;
  color: white;
  height: 5%;
  padding-left: 1em;
}

.cart-container div {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
}

.order-total {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  border-top: rgb(197, 182, 182);
  padding-left: 0.25em;
  padding-right: 0.25em;
}
